export(buildDegMatrix)
export(buildEdgeTotalDF)
export(buildGenDF)
export(buildMinusPathDF)
export(buildPathDF)
export(buildPlotTotalDF)
export(buildSpreadTotalDF)
export(buildYearMatrix)
export(generateGenPlot)
export(generatePathPlot)
export(generateTotalPlot)
export(getBasicStatistics)
export(getDegree)
export(getPath)
export(getYear)
export(getancestors)
export(getchild)
export(getdescendants)
export(getparent)
export(isChild)
export(isParent)
export(node.to.data.frame)
export(plotcoords)
export(processTreeGraph)
